<mat-sidenav-container fullscreen>
  <div layout="column" layout-fill>
    <div flex class="mat-content">
      <mat-card tdMediaToggle="gt-xs" >
        <mat-list>
          <ng-template  let-item let-i="index" let-last="last" ngFor [ngForOf]="messageService.msg">
            <mat-list-item  class="left" *ngIf="responde==null || responde.id==item.fromId">
              <h3 matLine class="cursor-pointer">{{ responde?.name || 'Sistema' }}<span class="tc-grey-500 md-caption"> - {{ item.date | date: 'dd/MM/yyyy h:mm a'}}</span></h3>
              <div matLine>
                <div class="text-wrap">
                  {{item.message}}
                </div>
              </div>
            </mat-list-item>

            <mat-list-item  class="right"  *ngIf="user.id==item.fromId">
              <h3 matLine class="cursor-pointer">{{ user.name }}<span class="tc-grey-500 md-caption"> - {{ item.date | date: 'dd/MM/yyyy h:mm a'}}</span></h3>
            
              <div matLine>
                <div class="text-wrap">
                  {{item.message}}
                </div>
              </div>
            </mat-list-item>
          </ng-template>
        </mat-list>
      </mat-card>
    </div>
    <mat-card>
      <div layout="row" layout-align="start center">
        <mat-form-field class="push-left push-right" flex layout="row" floatPlaceholder="never">
          <textarea flex matInput placeholder="message" [(ngModel)]="input"></textarea>
        </mat-form-field>
        <button mat-raised-button color="link" (click)="sendMessage()" [disabled]="!disponible">
          <mat-icon>send</mat-icon>Enviar
        </button>
        <button mat-raised-button color="warn" (click)="disconnect()">
          <mat-icon>no_meeting_room</mat-icon>Desconectar
        </button>
      </div>
    </mat-card>
  </div>
</mat-sidenav-container>