.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.example-card {
  padding-top: 10%;
  width: 100%;
  height: 100%;
  text-align: center;
}

.buttonex{
  width: 90%;
  height: 90%;
}

.example-button-container{
  text-align: start;
}

/* LEFT align */
.mat-list .mat-list-item.left{
  justify-content: flex-start;
}

/* RIGHT align */
.mat-list .mat-list-item.right{
  justify-content: flex-end!important;
  text-align-last: right!important;
}

/* If you will use matLine */

/* LEFT align */
.mat-list .mat-list-item.left{
margin: 0 auto 0 0;
}
/* RIGHT align */
.mat-list .mat-list-item.right{
margin: 0 0 0 auto;
}