<p>
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span [routerLink]="['/']">Cafeteria</span>
    <span class="example-spacer"></span>

    <button mat-icon-button [routerLink]="['/support']">
      <mat-icon>contact_support</mat-icon>
    </button>
  </mat-toolbar>
</p>



<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" [opened]='true' mode="side">
    <mat-list>

      <mat-divider></mat-divider>
      <mat-list-item>
        <button mat-icon-button [routerLink]="['/']">
          <mat-icon>home</mat-icon>Inicio
        </button>
      </mat-list-item>

      <mat-divider></mat-divider>
      <mat-list-item>
        <button mat-icon-button [routerLink]="['/drinks']">
          <mat-icon>local_cafe</mat-icon>Bebidas
        </button>
      </mat-list-item>

      <mat-divider></mat-divider>
      <mat-list-item>
        <button mat-icon-button [routerLink]="['/additionals']">
          <mat-icon>local_drink</mat-icon>Adicionales
        </button>
      </mat-list-item>

      <mat-divider></mat-divider>
      <mat-list-item>
        <button mat-icon-button [routerLink]="['/orders']">
          <mat-icon>menu_book</mat-icon>Pedidos
        </button>
      </mat-list-item>

      <mat-divider></mat-divider>
      <mat-list-item>
        <button mat-icon-button [routerLink]="['/support']">
          <mat-icon>contact_support</mat-icon>Soporte
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <button mat-icon-button [routerLink]="['/users']">
          <mat-icon>people_alt</mat-icon>Usuarios
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>

  </mat-drawer>

  <router-outlet></router-outlet>

</mat-drawer-container>