
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="username">
  </mat-form-field>
  
  <mat-form-field *ngIf="verPass">
    <mat-label>Contraseña</mat-label>
    <input matInput [(ngModel)]="password">
  </mat-form-field>

  <button mat-button (click)="verPass=true" *ngIf="!verPass">Entrar como Soporte</button>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button (click)="login()" cdkFocusInitial>Agregar</button>
</div>